// Container
.container {
  max-width: $max-width;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
  margin-top: 6rem;
  margin-bottom: 3rem;
}

// Text Styles
%space {
  line-height: 1.2;
  margin-bottom: 1rem;
}

.x-large {
  font-size: 4rem;
  @extend %space;
}

.large {
  font-size: 3rem;
  @extend %space;
}

.lead {
  font-size: 1.5rem;
  @extend %space;
}

.text-primary {
  color: $primary-color;
}

.round-img {
  border-radius: 50%;
}

.line {
  height: 1px;
  background: #ccc;
  margin: 1.5rem 0;
}

// Backgrounds
@each $name, $color in $color-map {
  @if($name == light or $name == whitee) {
    .bg-#{$name} {
      @include set-background($color);
      border: 1px solid #ccc;
    }
  } @else {
    .bg-#{$name} {
      @include set-background($color);
    }
  }
}

.dark-overlay {
  height: 100%;
  // width: 100%;
  // position: absolute;
  // top: 0;
  // left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

// Buttons
.btn {
  background-color: $light-color;
  padding: 0.4rem 1.3rem;
  margin-right: 0.5rem;
  color: #333;
  font-size: 1rem;
  transition: all 0.2s ease-in;
  border: none;
  cursor: pointer;
  // display: inline-block;
  // outline: none;

  &:hover {
    background-color: lighten($dark-color, 20%);
    color: #fff;
  }

  @each $name, $color in $color-map {
    &-#{$name} {
      @include set-background($color);
      
      &:hover {
        background-color: lighten($color, 5%);
      }
    }
  }
}

// Alerts
.alert {
  padding: 0.8rem;
  margin: 1rem;
  opacity: 0.9;
  background: $light-color;
  color: #333;

  @each $name, $color in $color-map {
    &-#{$name} {
      @include set-background($color);
    }
  }
}

// Badges
.badge {
  font-size: 0.8rem;
  padding: 0.1rem;
  text-align: center;
  margin: 0.3rem;
  background: $light-color;
  color: #333;

  @each $name, $color in $color-map {
    &-#{$name} {
      @include set-background($color);
    }
  }
}

// Table
.table {
  th, td {
    padding: 1rem;
    text-align: left;
  }

  th {
    background: $light-color;
  }
}